<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Concertify</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">



</head>

<body class="text-center" style="background: linear-gradient(to bottom right, #007bff, #ffffff); height: 100vh; position: relative;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background: rgba(3, 55, 134, 0); width: 100%;">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/" style="color: white; font-weight: bold;">
                <img src="assets/img/icon.png" alt="Concertify Icon" style="width: 50px; height: 50px; margin-right: 5px;">
                Concertify
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcol-1" aria-controls="navcol-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
            </div>
        </div>
    </nav>
    <header class="text-center text-white masthead;">
        <div class="overlay" style="background-color: rgba(0, 0, 0, 0.5);"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="mb-4">See all upcoming concerts for your favorite Spotify artists</h1>
                    <p class="lead">Sign in with your Spotify account below to get started</p>
                </div>
                <div class="ms-auto text-center">
                    <a class="btn spotify-button btn-lg" role="button" href="/login" style="font-family: 'Poppins', sans-serif; font-weight: 550;">
                        Sign in with Spotify
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" class="bi bi-spotify" viewBox="0 0 16 16" style="margin-left: 10px;">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288"/>
                        </svg>
                    </a>
                    
                </div>
            </div>
        </div>
    </header>
    
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
